@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --charchoal:#36454F; 
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0.3);
}

*{
    font-family: 'Poppins' sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color:var(--black)
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: var(--light-color);
    text-transform: capitalize;
}

@mixin iconsBox() {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;

    &:hover{
        background: var(--black);
        color: var(--white);
    }
}

html{
    font-size: 62.5%;
    overflow-x: hidden ;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width: 1rem;

    }

    &::-webkit-track{
        background: transparent;
        
    }

    &::-webkit-thumb{
        background: var(--yellow);
        
    }
}

@keyframes fadeIn {
    0%{
        top: 50%;
        opacity: 0;
    }
    
}

.about{
    padding: 5rem 10%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color:var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: 0.5rem;

    &:hover{
        background: var(--yellow);
        color: var(--black);
    }
}
.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.navbar a{
    @include titleText(2rem);
    margin:0 1rem;

    &:hover{
        color: var(--yellow);
    }

}

.icons div{
    @include iconsBox();
    margin-left: .3rem;
}

#menu-btn{
    display: none;
}

.heading{
    margin-bottom: 3rem;
    @include titleText(3rem);
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);

}


.search-form{
    position: absolute;
    top:120%; left: 50%;
    transform: translate(-50%);
    width: 70rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: none;
    align-items: center;
    gap: 1rem;
    animation: fadeIn .2s linear;

    &.active{
        display: flex;
    }

    input{
        width: 100%;
        padding: 1.2rem 1.4rem;
        background: var(--light-bg);
        font-size: 1.6rem;
        color: var(--light-color);
    }

    label{
        font-size: 2.5rem;
        color: var(--black);
        cursor: pointer;
        margin: 0 1rem;

        &:hover{
            color: var(--yellow);
        }
    }
    
}

.contact-info{
    position: fixed;
    top: 0; right: 0;
    width: 35rem;
    background: var(--white);
    height: 100%;
    text-align: center;
    z-index: 1000;
    padding: 0 2rem;
    padding-top:5rem ;
    display: none;

    &.active{
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
        display: block;
    }

    #close-contact-info{
        position: absolute;
        top:1rem; right: 1.5rem;
        cursor: pointer;
        font-size: 4rem;
        color: var(--black);

        &:hover{
            transform: rotate(90deg);
        }
    }

    .info{
        padding: 2rem 0;
        i{
            @include iconsBox();
            margin-bottom: .5rem;
        }

        h3{
            @include titleText(2rem);
            padding: 1rem 0;
        }

        p{
            @include graphText(1.5rem)
        }
    }
    .share{
        padding-top:2rem ;
        border-top:var(--border) ;
        margin-top: 1rem;

        a{
            @include iconsBox();
            margin: 0 .3rem;
        }
    }
}

.about{
    .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
  
      .image{
        flex: 1 1 41rem;
  
        img{
          width: 100%;
        }
        image{
          height: 100%;
        }
      }
      .content{
        flex: 1 1 41rem;
      }
      h3{
        @include titleText(3.5rem);
      }
      p{
        @include graphText(1.5rem)
      }
      
    }
  }
.box-container{
    margin-top: 3rem;
    @include grid(16rem);

    .box{
        text-align: center;
        background: var(--light-bg);
        padding: 3rem 2rem;

        h3{
            @include titleText(4rem);

        }
        p{
            @include graphText(1.5rem);
            padding-top: 5rem;
        }
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: flex-start; // Align items at the start of the container vertically
    height: 100vh; // Example height, adjust as needed
    position: relative;

    
      }
    
.open{
    @include titleText(2.4rem); 
    color: var(--white);
    text-align: center; 
    position: absolute;
    top: 24%; 
    left: 50%; 
    transform: translateX(-50%);
}
.open1{
    @include graphText(1.5rem);
    color: var(--white);
    text-align: center;
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translateX(-50%);
}
.button-container {
    text-align: center;
    position: relative;
}

.button {
    display: inline-block;
    margin-top: 35rem;
    padding: 1rem 3rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: blue;
    color: var(--white);
}

.home-bg {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh; /* Adjusted height for better display */
    margin-left: 0; /* Removed margin to align with the main container */
    margin-top: 0; /* Removed margin to align with the main container */
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 450px) {
    .home .open {
        font-size: 2rem;
    }
    .home .open1 {
        font-size: 1.4rem;
        margin-left: 0rem;
    }

    .button {
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
        
    }

    .button-container > * + * {
        margin-left: 1rem;
    }
}

.services {
    padding: 5rem 10%;

    .box-container {
        @include grid(16rem);

        .box {
            text-align: center;
            padding: 1rem;
            background: var(--white);
            box-shadow: var(--light-color);
            border: var(--border);

            img{
                width: 100%;
            }

            h3 {
                @include titleText(2rem);
                padding: 1rem 0;
            }

            p {
                @include titleText(1.5rem);
                padding: 1rem 0;
            }
        }
    }

    @media (max-width: 450px) {
        padding: 2rem 5%;

        .box-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .box {
                margin-bottom: 1rem;

                .img {
                    height: auto;
                    width: 100%;
                }

                h3 {
                    @include titleText(2.1rem);
                }

                p {
                    @include titleText(1.7rem);
                }
            }
        }

        .btn {
            font-size: 1.9rem;
            padding: 0.5rem 1rem;
        }
    }
}


.projects{ 
    padding: 5rem 10%;

    .box-container{
        @include grid(16rem);

        .box{
            text-align: center;
            padding: 2rem;
            background: var(--white);
            box-shadow: var(--box-shadow);
            border: var(--border);

            img{
                width: 100%;
            }

            h3{
                @include titleText(2rem);
                padding: 1rem 0;
            }

            p{
                @include titleText(2rem);
                padding: 1rem 0;
            }
        }
    }
}

.blog {
    padding: 5rem 10%;
    background-color: #f9f9f9;
}

.blog .heading {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.blog .swiper-slide {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.blog .swiper-slide:hover {
    transform: translateY(-10px);
}

.blog .swiper-slide p {
    font-size: 1.5rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.blog .info {
    margin-top: 20px;
}

.blog .info h3 {
    font-size: 1.7rem;
    color: #333;
    margin-bottom: 10px;
}

.blog .stars i {
    color: #FFD700;
    margin: 0 2px;
    font-size: 1.1rem;
}



.management{
    padding: 5rem 10%;
    .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
  
      .image{
        flex: 1 1 41rem;
  
        img{
          width: 100%;
        }
        image{
          height: 100%;
        }
      }
      .content{
        flex: 1 1 41rem;
      }
      h1{
        @include titleText(2rem);
      }
      p{
        @include graphText(1.7rem)
      }
      
    }
  }
  

.footer {
    background-color: var(--charchoal);
    padding: 60px 20px;
    color: var(--light-bg);
    text-align: center;
    font-size: 1.3rem;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer .footer-brand,
.footer .footer-list,
.footer .social-list {
    flex: 1 1 200px;
    margin: 20px;
}

.footer .footer-brand .footer-text {
    margin-top: 20px;
}

.footer .footer-list-title {
    color: var(--white);
    margin-bottom: 16px;
}

.footer .footer-link {
    display: block;
    margin: 4px 0;
    color: var(--light-bg);
    text-decoration: none;
    transition: color 0.3s;
}

.footer .footer-link:hover {
    color: var(--yellow);
}

.footer .input-wrapper {
    position: relative;
    margin-top: 25px;
}

.footer .input-field {
    width: calc(100% - 120px);
    background-color: var(--yellow);
    color: var(--white);
    font-size: 1rem;
    padding: 16px 16px;
    border: none;
    border-radius: 8px 0 0 8px;
    box-shadow: var(--box-shadow);
    outline: none;
}

.footer .input-field::placeholder {
    color: inherit;
}

.footer .submit-btn {
    background-color: var(--white);
    color: var(--black);
    padding: 14px 22px;
    border: none;
    border-radius: 0 8px 8px 0;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer .submit-btn:hover {
    background-color: var(--light-bg);
}

.footer .social-list {
    list-style: none;
    padding: 0;
    text-align: center; /* Center align the text */
    margin-top: 20px;
}

.footer .social-list .follow-us-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px; /* Add space between the text and icons */
    color: var(--white); /* Adjust the color as needed */
}

.footer .social-link {
    color: var(--white);
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer .social-link:hover {
    color: var(--yellow);
}


.gallery{
    background-color: var(--white);
    padding: 5rem 10%;

    .heading{
        color: var(--black)
    }
    .box-container{
        @include grid(30rem);
        
        .box{
            cursor: initial;
        
            .image{
                height: 40rem;
                overflow: hidden;
            
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .content{
                display: flex;
                gap:.5rem;
                background: var(--white);
                justify-content: space-between;


                .info{
                    padding: 1rem 1rem;  
                }
                h3{
                    @include titleText(1.7rem);
                }
                p{
                    @include graphText(1.5rem);
                }
            }

            i{
                width: 5.5rem;
                font-size: 3rem;
                background: var(--yellow);
                color: var(--white);
                cursor: pointer;
                text-align: center;
                line-height: 6.5rem;
            }
        }
    }
}

.link{
    background: var(--white);
    padding: 5rem 10%;

    .heading{
        color:var(--black);

    }

    .row{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    
        .map{
            flex: 1 1 41rem;
            width: 100%
        }
        form{
            flex: 1 1 41rem;
            background: var(--white);
            padding: 2rem;

            h3{
                @include titleText(2.5rem);
            }
            .box{
                margin: .7rem 0;
                width: 100%;
                padding: 1.5rem 0;
                background: var(--light-bg);
                font-size: 1.6rem;
                color: var(--light-color);

                &:focus{
                    border-color: var(--yellow);
                }
            }
            textarea{
                height: 15rem;
                resize: none;
            }
        }
    }
}

.news{
    padding: 5rem 10%;
    img{
        width: 70%;
    }
    @media (max-width: 450px){

        img{
            width: 110%;
        }
    }
    h2{
      @include titleText(2rem);
    }
    p{
      @include graphText(1.3rem)
    }
    .btn{
        padding: 1rem 2rem;
    }
    

  }




  .learn{
    padding: 5rem 10%;
    .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
  
      .image{
        flex: 1 1 41rem;
  
        img{
          width: 100%;
        }
        img{
          height: 100%;
        }
      }
      .content{
        flex: 1 1 41rem;
      }
      h1{
        @include titleText(2rem);
      }
      p{
        @include graphText(1.7rem)
      }
      
    }
  }
  

.news1 {
    padding: 5rem 10%;
    img{
        width: 30%;
    }
}
.heading {

    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: 3fr 2fr;
    }
}
.image-container {
    display: flex;
    justify-content: center;
}
.image-container img {
    border-radius: 0.75rem;
    width: 100%;
    max-width: 66.67%; 
}
.content {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.75rem;
}
.content h1 {
    font-size: 1.875rem; 
    margin-bottom: 1.5rem;
}
.content p {
    font-size: 1.125rem; 
    color: #4a5568; 
}
.content p.description {
    font-size: 1.875rem; 
    color: #4a5568; 
}
.content p.description strong {
    font-size: 1.875rem; 
    color: #a0aec0; 
}


.messages {
    list-style-type: none; 
    padding: 0; 
    text-align: center; 
}

.messages li {
    color: white; 
    font-size: 1.5rem; 
    margin: 0.5rem 0; 
}








@media (max-width:1200px){
    .header{
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header #menu-btn {
        display: inline-block;
        cursor: pointer;
        font-size: 2.5rem; 
        padding: 1rem; 
    }

    .navbar {
        display: none; 
        position: absolute;
        top: 99%; 
        left: 0; 
        right: 0;
        background: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
    }

    .navbar.active {
        display: block; 
    }

    .navbar a {
        display: block;
        margin: 2rem;
    }
}
@media (max-width: 768px){

    .header{
        .search-form{
            width:90%;
        }       
    }
    
}
  
@media (max-width: 450px){

    html{
        font-size: 65%;
    }
}
