{% load static %}
<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet" />
    <script nomudule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/pageicon.png' %}">
    <link rel="shortcut icon" href="#">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}{% endblock %} Libubu Mining</title>

</head>
<body>

<header class="header">
    <a href="{% url 'index' %}" class="logo"><img src="{% static 'images/WhatsApp_Image_2024-05-15_at_15.19.37-removebg-preview.png' %}" alt="Logo" width="280" height="70"></a>
    <div id="menu-btn">☰</div>
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#projects">Projects</a>
        <a href="#blog">Reviews</a>
        <a href="#management">Management</a>
        <a href="#contact">Contact</a>
    </nav>


    
</header>

<div class="contact-info">
    <div id="close-contact-info" class="fas fa-times"></div>
    <div class="info">
        <i class="fas fa-phone"></i>
        <h3>phone number</h3>
        <p>+27 76 944 6549</p>

    </div>


    <div class="info">
        <i class="fas fa-envelope"></i>
        <h3>Email Adress</h3>
        <p>Libubugroup@gmail.com</p>
    </div>

    <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Address</h3>
        <p>345 Rivonia Blvd, Edenburg, Rivonia</p>
    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
</div>

<section class="home" id="home">
    <div class="home-bg">
        <img src="static/images/hero.jpeg" alt="hero image" style="height: 80vh; width: 105%; margin-top: 5px; margin-left: -25px;">
        <div class="dark-overlay">   {% if messages %}
            <ul class="messages text-3xl">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; z-index: 2; margin-top: 10px;">
            <h1 class="open text-white font-bold mb-4">Open Cast Mining Simplified<br><br></h1>
            <p class="open1 mb-6">We aim to help our clients run cost effective and productive operations<br> through Our experience and knowledge of the mining industry<br><br><br><br></p>
            <div class="button-container" style=" margin-top: 20px;">
                <a href="{% url 'about' %}" class="button" style="display: inline-block; margin-top: 2rem; padding: 1rem 3rem;">Learn More</a>
                <a href="#projects" class="button" style=" margin-top: 2rem; margin-left: 10px; padding: 1rem 3rem;  ">Projects</a>
            </div>
        </div>
    </div>
</section>




<section class=" about" id="about">

    <h1 class="heading"> About Libubu Mining</h1>
    <div class="row">
        <div class="image">
            <img src="static\images\site.jpeg" alt="site image">
        </div>

        <div class="content">
            <h1 class="text-black text-3xl font-semibold ">Welcome to Libubu Mining Group</h1><br>
            <p>Libubu Group Is a Mining Company specializing in Open Cast Mining and Underground Mining Services Libubu Group is Eager to develop, empower and contribute to the growth of the country.<br><br> Libubu Group is a 100% black owned and controlled company, contributing meaningful economic participation and growth, to the mining industry, employees and surrounding communities</p>
            <a href="{% url 'about' %}#about" class="btn">read more<a/>
            <a href="{% url 'item:items' %}" class="btn">News<a/>
            <a href="{% url 'about' %}#gallery" class="btn">Gallery<a/>
        </div>
    </div>

    <div class="box-container">

        <div class="box">
            <h3>+15</h3>
            <p>years of Mining, Mineral Processing and Engineering </p>
        </div>

        <div class="box">
            <h3>+10</h3>
            <p>Projects Completed</p>
        </div>

        <div class="box">
            <h3>100%</h3>
            <p>Black-Owned Comapny</p>
        </div>
        <div class="box">
            <h3>+10</h3>
            <p>Staff Members</p>
        </div>
    </div>

</section>

<section class="services" id="services">

    <h1 class="heading"> Libubu Mining Services</h1>

    <div class="box-container">

        <div class="box">
            <img src="static\images\processing.jpeg" alt="service1">
            <h3>Contract Mining</h3>
            <p >We provide comprehensive contract mining services, offering expertise in drilling, blasting, loading, and hauling operations</p>
        </div>

        <div class="box">
            <img src="static\images\Mechanical-Engineering-MS-Professionals-Hero-1600x900.jpg" alt="service2">
            <h3>Engineering Services</h3>
            <p> We deliver tailored solutions in civil, mechanical, electrical, 
                and environmental engineering to ensure your projects are executed 
                safely, efficiently, and to the highest standards</p>
        </div>

        <div class="box">
            <img src="static\images\engin.jpg" alt="service2" style="margin-right: 10px">
            <h3>Mineral Processing</h3>
            <p > Our Mineral Processing services include crushing, grinding, separation, and concentration, utilizing state-of-the-art 
                technology to produce high-quality, market-ready products</p>
        </div>
    </div>
    <a href="{% url 'about' %}#link" class="btn" "rounded-lg">Enquire Our Services<a/>
</section>


<section class="projects" id="projects">

    <h1 class="heading"> Libubu Mining Projects With Clients</h1>

    <div class="box-container">

        <div class="box">
            <img src="static\images\suiii.jpg" alt="">
            <p>Provision of load and haul services for a duration of 36 Months </p>
        </div>

        <div class="box">
            <img src="static\images\coal.jpg" alt="">
            <p class= "mt-6"> Provision of plant hire services for a duration of 36 Months</p>
        </div>

        <div class="box">
            <img src="static\images\Exxaro.jpg" alt="">
            <p class= "mt-2">Provision of screening and crushing services for a duration of 36 Months.</p>
        </div>
        <div class="box">
            <img src="static\images\south32.jpg" alt="">
            <p class= "mt-6">Provision of front-end loader services for a duration of 24 Months</p>
        </div>

        <div class="box">
            <img src="static\images\mmg.jpg" alt="">
            <p class= "mt-6">Provision of engineering services for a duration of 60 Months </p>
        </div>

        <div class="box">
            <img src="static\images\universe.jpg" alt="">
            <p class= "mt-6">Provision of engineering Services for a duration of 36 Months .</p>
        </div>
    </div>
</section>

<section class="blog" id="blog">
    <h1 class="heading">Clients Reviews on Libubu Mining</h1>

    <div class="swiper blog-slider">
        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <p>"Working with Libubu Mining Group has been a game-changer for us. Their dedication to excellence and commitment to 
                    safety have made our mining operations smoother and more efficient than ever before. Their expertise in contract 
                    mining and engineering services has significantly contributed to our success. We highly recommend Libubu Mining 
                    Group to anyone in the mining industry looking for reliable and professional partners."</p>
                <div class="info">
                    <h3></h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>   
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>  
                </div>
            </div> 

            <div class="swiper-slide slide">
                <p>"Libubu Mining Group has been an invaluable partner in our coal mining operations. Their comprehensive approach to contract
                     mining and mineral processing has helped us streamline our processes and increase productivity. Their team's attention to
                      detail and proactive communication have made collaboration seamless. We appreciate their professionalism and look forward
                       to continuing our partnership with them."</p>
                <div class="info">
                    <h3></h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>   
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>  
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>"Libubu Mining Group stands out as a leader in the mining industry. Their expertise in contract mining and engineering services has
                     been instrumental in the success of our projects. Their commitment to sustainability and community development aligns perfectly
                      with our values. Working with Libubu Mining Group has been a positive experience, and we trust them to deliver exceptional results every time"</p>
                <div class="info">
                    <h3></h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>   
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>  
                </div>
            </div>

        </div>
        <!-- Add Pagination if needed -->
        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="mt-10 management" id="management">
    <h1 class="heading">Meet The Managing Director</h1>
    <div class="row flex flex-wrap">
        <div class="image flex-1 p-4">
            <img src="static\images\management.jpeg" alt="management" class="w-10/12 h-auto">
        </div>
        <div class="content md:w-1/2 p-4">
            <h1 class="text-black text-3xl font-semibold">Sibusiso Zulu : Managing Director</h1>
            <p class="mt-4">Sibusiso is the visionary Founding Member and Managing Director of Libubu Mining Group Pty Ltd. With a solid educational foundation, Sibusiso holds a National Diploma in Industrial Engineering from the prestigious University of Johannesburg.<br><br></p>
            <p class="mt-4">Under Sibusiso's leadership, Libubu Mining Group has grown into a respected player in the mining industry, recognized for its cutting-edge practices and dedication to community development. His strategic vision and hands-on approach have been instrumental in navigating the company through challenges and driving continuous improvement.<br><br></p>
            <p class="mt-4">Sibusiso's journey is a testament to the power of hard work, dedication, and a clear vision. His leadership continues to propel Libubu Mining Group towards new heights, making a lasting impact on the industry and the communities it serves.<br><br></p>
            <h1 class="text-black text-3xl font-semibold mt-8">Companies Worked For:</h1>
            <p class="mt-4">Glencore Coal<br>Accenture<br>Universal Coal</p>
        </div>
    </div>
</section>

<footer class="footer" id="contact">
    <div class="container grid list">
        <div class="footer-brand">
            <a href="#" class="logo" >
                <a href="{% url 'index' %}" class="logo"><img src="{% static 'images/WhatsApp_Image_2024-05-15_at_15.19.37-removebg-preview.png' %}" alt="Logo" width="280" height="70"></a>
            </a>
            <p class="footer-text">
                &copy; 2022 Libubugroup. <br> All rights reserved.
            </p>
        </div>

        <div class="footer-list">
            <p class="h4 footer-list-title">Get in Touch</p>
            <address class="footer-text">
                345 Rivonia Blvd, Edenburg, Rivonia
            </address>
            <a href="mailto:Libubugroup@gmail.com" class="footer-link">Libubugroup@gmail.com</a>
            <a href="tel:+27769446549" class="footer-link">+27 76 944 6549</a>
        </div>

        <div class="footer-list">
            <p class="h4 footer-list-title">Learn More</p>
            <a href="{% url 'about' %}#about" class="footer-link">About Us</a>
            <a href="{% url 'about' %}#gallery" class="footer-link">Gallery</a>
            <a href="{% url 'item:items' %}" class="footer-link">News</a>
            <a href="{% url 'about' %}#link" class="footer-link">Enquire</a>
        </div>

        <div class="footer-list">
            <p class="h4 footer-list-title">Our Newsletter</p>
            <p class="footer-text">
                Subscribe to our newsletter to get our news delivered to you
            </p>
            <form action="{% url 'subscribe' %}" method="POST" class="input-wrapper">
                {% csrf_token %}
                <input type="email" name="email_address" placeholder="Email Address" required class="input-field">
                <button type="submit" class="submit-btn">Join</button>
            </form>
        </div>       
    </div>
</footer>


















































<script src="{% static 'js/script.js' %}"></script>


</body>
</html>
